<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Task Manager System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" 
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
 <!--<div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onCreateModal('add')"> Add Task <span class="sr-only">(current)</span></a>
        </li>
     </ul>
  </div> -->
</nav>

<div class="container" id="main-container">
  <div class="table-responsive">
    <!-- Tasks TABLE -->
    <table class="table colored-header datatable project-list">
      <thead>
        <tr>
          <th>Task Id</th>
          <th>Task Name</th>
          <th>Time Spent</th>
          <th>Task Group</th>
          <th>Assignee</th>
          <th>Status</th>
          <th>Subtasks</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task?.taskId}}</td>
          <td>{{task?.taskName}}</td>
          <td>{{task?.timeSpent}}</td>
          <td>{{task?.taskGroup}}</td>
          <td>{{task?.assignee}}</td>
          <td>{{task?.completeStatus}}</td>
          <td>Show</td>
          <td>
            <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(task, 'edit')" class="btn btn-primary tooltips" data-placement="top" 
                      data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
            </div>  
          </td>
          <td>
            <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(task, 'delete')" class="btn btn-primary tooltips" data-placement="top" 
                    data-original-title="Delete">
                <i class="fa fa-trash-o"></i>
              </a>
            </div> 
          </td>
        </tr>     
      </tbody>
    </table>
    <!-- END Tasks TABLE -->
  </div>
  

  <!-- Add Task Modal -->
  <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddTask(addForm)">
            <div class="form-group">
              <label for="taskName">Task Name</label>
              <input type="text" ngModel name="taskName" class="form-control" id="taskName" placeholder="Task Name" required>
            </div>
            <div class="form-group">
              <label for="timeSpent">Time Spent</label>
              <input type="text" ngModel name="timeSpent" class="form-control" id="timeSpent" placeholder="Time Spent" required>
            </div>
            <div class="form-group">
              <label for="taskGroup">Task Group</label>
              <input type="text" ngModel name="taskGroup" class="form-control" id="taskGroup" placeholder="Task Group" required>
            </div>
            <div class="form-group">
              <label for="assignee">Assignee</label>
              <input type="text" ngModel name="assignee" class="form-control" id="assignee" placeholder="Assaignee" required>
            </div>
            <input type="hidden" ngModel name="completeStatus" class="form-control" id="completeStatus" placeholder="false" required>
            <div class="modal-footer">
              <button type="button" id="add-task-form-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save new task</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateTaskModalLabel">Edit Task {{editTask?.taskName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
                <input type="hidden" ngModel="{{editTask?.taskId}}" name="taskId" class="form-control" id="taskId" placeholder="task Id"> 
                <div class="form-group">
                  <label for="taskName">Task Name</label>
                  <input type="text" ngModel="{{editTask?.taskName}}" name="taskName" class="form-control" id="taskName"
                    aria-describedby="emailHelp" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="timeSpent">Time spent</label>
                  <input type="text" ngModel="{{editTask?.timeSpent}}" name="timeSpent" class="form-control" id="timeSpent" 
                  placeholder="Time Spent">
                </div>
                <div class="form-group">
                  <label for="taskGroup">Task group</label>
                  <input type="text" ngModel="{{editTask?.taskGroup}}" name="taskGroup" class="form-control" id="taskGroup"
                    placeholder="Task Group">
                </div>
                <div class="form-group">
                  <label for="assignee">Assignee</label>
                  <input type="text" ngModel="{{editTask?.assignee}}" name="assignee" class="form-control" id="assignee"
                    placeholder="Assignee">
                </div>
                <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onEditTask(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete employee {{deleteTask?.taskName}}?</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteTask(deleteTask.taskId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="tasks?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO TASKS!</h4>
  <p>No Tasks were found.</p>
</div>
</div>